<!-- <header>
	<div class = "blue"> -->
	  	<div class = "plus"><p><%= link_to image_tag("plus-two.png"), cloths_reg_path %></p></div>
<!-- 	</div>
</header> -->
<div class = "cal"><%= image_tag "cal.png" %></div>

<div class = "back"><%= image_tag("back.png")%></div>
<footer>
	<div class = "icon"> 
		<a herf = "#">
			<p><%= link_to image_tag("クローゼット.png"), cloths_url %></p>
			<p>クローゼット</p>
		</a>
	</div>
	<div class = "icon">
		<a herf = "#">
			<%= image_tag("コーディネート.png")%>
			<p>コーディネート</p>
		</a>
	</div>
	<div class = "icon">
		<a herf = "#">
			<p><%= link_to image_tag("カメラ.png"), new_cloth_path %></p>
			<p>撮る</p>
		</a>
	</div>
	<div class = "icon">
		<a herf = "#">
			<p><%= link_to image_tag("カレンダー.png"), cloths_cal_path %></p>
			<!-- <%= image_tag("カレンダー.png")%> -->
			<p>カレンダー</p>
		</a>
	</div>
</footer>