<header>
	<div class = "blue">
	<div class = "return"><%= link_to image_tag("<.png"), cloths_cor_path %></div>

	<%= button_tag type: :submit do %>
  		<div class = "unko"><%= image_tag "チェック.png" %></div>
	<% end %> 
	</div>
</header>

<div class = "add-photo"><%= image_tag("plus-box.png")%>
</div>

<div class = "back"><%= image_tag("back.png")%></div>
<footer>
	<div class = "icon"> 
		<a herf = "#">
			<p><%= link_to image_tag("クローゼット.png"), cloths_url %></p>
			<p>クローゼット</p>
		</a>
	</div>
	<div class = "icon">
		<a herf = "#">
			<p><%= link_to image_tag("コーディネート.png"), cloths_cor_path %></p>
			<p>コーディネート</p>
		</a>
	</div>
	<div class = "icon">
		<a herf = "#">
			<p><%= link_to image_tag("カメラ.png"), new_cloth_path %></p>
			<p>撮る</p>
		</a>
	</div>
	<div class = "icon">
		<a herf = "#">
			<p><%= link_to image_tag("カレンダー.png"), cloths_cal_path %></p>
			<!-- <%= image_tag("カレンダー.png")%> -->
			<p>カレンダー</p>
		</a>
	</div>
</footer>