<!-- <h1>Cloths#index</h1> -->
<!-- <p>Find me in app/views/cloths/index.html.erb</p> -->
<!-- <p><%= link_to 'アイテムの登録', new_cloth_path %></p> -->

<table>
	<div class = "main">

		<div class = "top">
			<div class = "color">
				<ul>
					<li class = "block block-clear"><%= link_to '', cloths_path(:color => '', :category => params[:category]) %></li>
					<li class = "block block-white"><%= link_to '', cloths_path(:color => 1,:category => params[:category]) %></li>
					<li class = "block block-black"><%= link_to '', cloths_path(:color => 0,:category => params[:category]) %></li>
					<li class = "block block-gray"><%= link_to '', cloths_path(:color => 2,:category => params[:category]) %></li>
					<li class = "block block-red"><%= link_to '', cloths_path(:color => 3,:category => params[:category]) %></li>
					<li class = "block block-yellow"><%= link_to '', cloths_path(:color => 4,:category => params[:category]) %></li>
					<li class = "block block-green"><%= link_to '', cloths_path(:color => 5,:category => params[:category]) %></li>
					<li class = "block block-blue"><%= link_to '', cloths_path(:color => 6,:category => params[:category]) %></li>
					<li class = "block block-purple"><%= link_to '', cloths_path(:color => 7,:category => params[:category]) %></li>
			</div>

			<nav class="scroll-nav">
					<div class="scroll-nav__view">
 				 	<div class="scroll-nav__list">
    					<p class="scroll-nav__item"><%= link_to 'すべて', cloths_path(:category => '', :color => params[:color]) %></p>
    					<p class="scroll-nav__item"><%= link_to 'アウター', cloths_path(:category => 0, :color => params[:color]) %></p>
    					<p class="scroll-nav__item"><%= link_to 'トップス', cloths_path(:category => 1, :color => params[:color]) %></p>
    					<p class="scroll-nav__item"><%= link_to 'ボトムス', cloths_path(:category => 2, :color => params[:color]) %></p>
    					<p class="scroll-nav__item"><%= link_to 'ワンピース', cloths_path(:category => 3, :color => params[:color]) %></p>
    					<p class="scroll-nav__item"><%= link_to 'シューズ', cloths_path(:category => 4, :color => params[:color]) %></p>
    					<p class="scroll-nav__item"><%= link_to 'バッグ', cloths_path(:category => 5, :color => params[:color]) %></p>
    					<p class="scroll-nav__item"><%= link_to 'アクセサリー', cloths_path(:category => 6, :color => params[:color]) %></p>
 					</div>
				</div>
				<!-- <span class="global-nav--bar"></span> -->
			</nav>
		</div>
	<div class = "cloths">
			<!-- <tr>
		<th>Id</th><th></th><th></th><th></th>
			</tr> -->
			  			
		<div class = "cloth">
			<% @cloths.each do |cloth| %> 

    				<!-- <td><%= cloth.id %></td> -->
    				<!-- <td><%= image_tag(url_for(:controller=> 'cloths', :action => 'send_img', :id =>cloth.id,), :size => "60x80")%></td> -->
    				<div class="cloth-img">
    					<%= link_to image_tag(url_for(:controller=> 'cloths', :action => 'send_img', :id =>cloth.id)), cloth_path(cloth) %>
					</div>
    				<!-- <td><%= link_to 'Show', cloth_path(cloth) %></td> -->
    				<!-- <td><%= link_to 'Edit', edit_cloth_path(cloth) %></td>
    				<td><%= link_to 'Delete', cloth_path(cloth), method: :delete %></td> -->
  				<% end %>	
    		</div>
  			
  		</div>
  		<div class = "back"><%= image_tag("back.png")%></div>
  		<footer>

			<div class = "icon"> 
				<a herf = "#">
					<p><%= link_to image_tag("クローゼット.png"), cloths_url %></p>
					<p>クローゼット</p>
				</a>
			</div>
			<div class = "icon">
				<a herf = "#">
					<p><%= link_to image_tag("コーディネート.png"), cloths_cor_path %></p>
					<p>コーディネート</p>
				</a>
			</div>
			<div class = "icon">
				<a herf = "#">
					<p><%= link_to image_tag("カメラ.png"), new_cloth_path %></p>
					<p>撮る</p>
				</a>
			</div>
			<div class = "icon">
				<a herf = "#">
					<p><%= link_to image_tag("カレンダー.png"), cloths_cal_path %></p>
			<!-- <%= image_tag("カレンダー.png")%> -->
					<p>カレンダー</p>
				</a>
			</div>
		</footer>
</table>
