<%= form_for(@cloth) do |f| %>
<!-- <div class = "ue"><%= image_tag("head.png")%></div> -->
<header>
	<div class = "blue">
	<div class = "return"><%= link_to image_tag("<.png"), cloths_url %></div>

	<%= button_tag type: :submit do %>
  		<div class = "unko"><%= image_tag "チェック.png" %></div>
	<% end %> 
	</div>
</header>
<div class = "set">
	<div class = "settings">
		<div class = "setting">
			<div class ="file_photo">
				<%= f.file_field :photo, style:"background-color:rgba(196,154,196,0.5); width:200px; height: 25px; border-radius: 5px; color:white; paddign-top:10px;" %>
			</div>
			<div class = "triangle-one"><%= image_tag "triangle.png" %></div>
				<%= f.label :category, style: "color:rgba(196,154,196,0.7);" %>
				<%= f.select :category, [["アウター", "0"], ["トップス", "1"],["ボトムス", "2"],["ワンピース", "3"], ["シューズ", "4"], ["バッグ", "5"], ["アクセサリー", "6"]], :prompt=> "選択してください" %>
		</div>
		<div class = "setting">
			<div class = "triangle-two"><%= image_tag "triangle.png" %></div>
				<%= f.label :color, style: "color:rgba(196,154,196,0.7);" %>
				<%= f.select :color, [["黒", "0"], ["白", "1"], ["グレー", "2"], ["赤", "3"], ["黄色", "4"], ["緑", "5"], ["青", "6"], ["紫", "7"]], :prompt=> "選択してください"%>
		</div>
	</div>
</div>
   <!--<%= f.submit 'Submit' %> -->
<% end %>
<div class = "back"><%= image_tag("back.png")%></div>
<footer>
		<div class = "icon"> 
		<a herf = "#">
			<p><%= link_to image_tag("クローゼット.png"), cloths_url %></p>
			<p>クローゼット</p>
		</a>
	</div>
	<div class = "icon">
		<a herf = "#">
			<%= image_tag("コーディネート.png")%>
			<p>コーディネート</p>
		</a>
	</div>
	<div class = "icon">
		<a herf = "#">
			<p><%= link_to image_tag("カメラ.png"), new_cloth_path %></p>
			<p>撮る</p>
		</a>
	</div>
	<div class = "icon">
		<a herf = "#">
			<p><%= link_to image_tag("カレンダー.png"), cloths_cal_path %></p>
			<!-- <%= image_tag("カレンダー.png")%> -->
			<p>カレンダー</p>
		</a>
	</div>
</footer>
