<%= form_for(@cloth) do |f| %>
<header>
	<div class = "return"><%= link_to image_tag("<.png"), cloths_url %></div>

	<%= button_tag type: :submit do %>
  		<div class = "unko"><%= image_tag "チェック.png" %></div>
	<% end %> 

</header>
<div class = "set">
	<div>
	<%= f.file_field :photo %>
	</div>

	<div class = "setting">
		<%= f.label :category %>
		<%= f.select :category, [["アウター", "0"], ["トップス", "1"],["ボトムス", "2"],["ワンピース", "3"], ["シューズ", "4"], ["バッグ", "5"], ["アクセサリー", "6"]],  :prompt => image_tag(">.png") %>
	</div>
	<div class = "setting">
		<%= f.label :color %>
		<%= f.select :color, [["黒", "0"], ["白", "1"], ["グレー", "2"], ["赤", "3"], ["黄色", "4"], ["緑", "5"], ["青", "6"], ["紫", "7"]],  :prompt => image_tag(">.png") %>
	</div>
</div>
   <!--<%= f.submit 'Submit' %> -->
<% end %>

<footer>
	<div class = "icon"> 
		<a herf = "#">
			<p><%= link_to image_tag("クローゼット.png"), cloths_url %></p>
			<p>クローゼット</p>
		</a>
	</div>
	<div class = "icon">
		<a herf = "#">
			<%= image_tag("コーディネート.png")%>
			<p>コーディネート</p>
		</a>
	</div>
	<div class = "icon">
		<a herf = "#">
			<p><%= link_to image_tag("カメラ.png"), new_cloth_path %></p>
			<p>撮る</p>
		</a>
	</div>
	<div class = "icon">
		<a herf = "#">
			<%= image_tag("カレンダー.png")%>
			<p>カレンダー</p>
		</a>
	</div>
</footer>
