<header>
	<div class = "blue">
	<div class = "return"><%= link_to image_tag("<.png"), cloths_cal_path %></div>
  	<div class = "plus"><p><%= link_to image_tag("チェック.png"), cloths_cal_path %></p></div>
	</div>
</header>
<div class = "fasion"><%= image_tag("fasion.png") %></div>
<div class = "moredata">
	<div class = "datas"><p class = "data">8/18 Sat</p><p class = "data">▼</p></div>
	<!-- <div class = "white-triangle"><%= image_tag("triangletwo.png") %></div> -->
</div>
<div class = "back"><%= image_tag("back.png")%></div>
<footer>
	<div class = "icon"> 
		<a herf = "#">
			<p><%= link_to image_tag("クローゼット.png"), cloths_url %></p>
			<p>クローゼット</p>
		</a>
	</div>
	<div class = "icon">
		<a herf = "#">
			<%= image_tag("コーディネート.png")%>
			<p>コーディネート</p>
		</a>
	</div>
	<div class = "icon">
		<a herf = "#">
			<p><%= link_to image_tag("カメラ.png"), new_cloth_path %></p>
			<p>撮る</p>
		</a>
	</div>
	<div class = "icon">
		<a herf = "#">
			<p><%= link_to image_tag("カレンダー.png"), cloths_cal_path %></p>
			<!-- <%= image_tag("カレンダー.png")%> -->
			<p>カレンダー</p>
		</a>
	</div>
</footer>