<!-- <h1>Cloths#show</h1>
<p>Find me in app/views/cloths/show.html.erb</p> -->
<%= form_for(@cloth) do |f| %>

<body>
	<!-- <div class = "ue"><%= image_tag("head.png")%></div> -->
	<header>
		<div class = "blue">
			<div class = "return">
				<%= link_to image_tag("<.png"), cloths_url %>
			</div>

			<div class = "delete"><%= link_to image_tag("ゴミ箱.png"), cloth_path, :method => :delete, data: {:confirm => 'Are you sure?'}  %>
			</div>
			<div class = "heart"><%= link_to image_tag("ハート.png"), cloths_fav_path%>
			</div>
		</div>
	</header>

	<div class = "main">
		<div class = "item">
			<%= image_tag(url_for(:controller=> 'cloths', :action => 'send_img', :id => @cloth.id))%>
		</div>

		<div class = "details">
			<div class = "detail">
				<!-- <p>カラー</p> -->
				<div class = "col">
					<% col = ["black", "white", "#c0c0c0", "#ff6969", "#f9bf4b", "#44d37e", "#6ec4ff", "#b8b2ea"] %>
					<div class="square" style="background-color: <%=col[@cloth.color]; %>" ></div>
				</div>
			</div>
			<div class = "detail">
				<!-- <p>カテゴリー</p> -->
				<div class = "cate">
					<% cate = ["アウター", "トップス", "ボトムス", "ワンピース", "シューズ", "バッグ", "アクセサリー"] %>
					<%= cate[@cloth.category] %>
			 	</div>
			</div>
			
		</div>
    </div>
    <div class = "back"><%= image_tag("back.png")%></div>
    <footer>
	<div class = "icon"> 
		<a herf = "#">
			<p><%= link_to image_tag("クローゼット.png"), cloths_url %></p>
			<p>クローゼット</p>
		</a>
	</div>
	<div class = "icon">
		<a herf = "#">
			<%= image_tag("コーディネート.png")%>
			<p>コーディネート</p>
		</a>
	</div>
	<div class = "icon">
		<a herf = "#">
			<p><%= link_to image_tag("カメラ.png"), new_cloth_path %></p>
			<p>撮る</p>
		</a>
	</div>
	<div class = "icon">
		<a herf = "#">
			<p><%= link_to image_tag("カレンダー.png"), cloths_cal_path %></p>
			<!-- <%= image_tag("カレンダー.png")%> -->
			<p>カレンダー</p>
		</a>
	</div>
</footer>
</body>
<% end %>